* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main-cont {
  border: 1px solid orange;
  font-size: 1rem;
  color: orange;
  background-color: black;
  width: 100%;
}
.header {
  border: 1px solid orange;
  height: 50px;
}
.main {
  border: 1px solid orange;
  display: flex;
}
.today-info {
  min-height: 660px;
  width: 50%;
  border: 1px solid orange;
}
.today-info__search-cont {
  min-height: 60px;
  display: flex;
  background-color: palegreen;
}
.today-info__search-cont__text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.today-info__search-cont__search-form-cont {
  background-color: rgb(116, 81, 46);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.today-info__content {
  background-color: rgb(110, 88, 60);
  display: flex;
  width: 100%;
  min-height: 600px;
}
.test {
  border: 3px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.today-info__content__block {
  flex: 1;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp-converter-button {
  width: 120px;
  height: 40px;
}

.data-cont {
  width: 90%;
  height: 60px;
  display: flex;
}
.data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  border: 1px solid red;
}
.data div {
  background-color: darkgreen;
}

.week-info {
  min-height: 660px;
  width: 50%;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
}
.week-info__titles {
  height: 60px;
  display: flex;
  border: 1px solid red;
}
.week-info__block {
  flex: 1;
  display: flex;
  border: 1px solid red;
}
.week-data {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid blue;
}

.footer {
  border: 1px solid orange;
  height: 40px;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
  }
  .today-info {
    width: 100%;
  }
  .week-info {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .today-info__content {
    flex-direction: column;
  }
  .test {
    width: 100%;
  }
  .today-info__search-cont {
    flex-direction: column;
  }
  .to-be-deleted {
    background-color: darkgreen;
    display: none;
  }
}
