* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Electrolize', sans-serif;
  font-size: 1rem;
}
.main-cont {
  border: 1px solid orange;
  font-size: 1rem;
  color: orange;
  background-color: black;
  width: 100%;
}
.header {
  border-bottom: 1px solid orange;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header div {
  margin-left: 2rem;
  font-size: 1.5rem;
}
.main {
  display: flex;
  flex-direction: column;
}
.info-conts {
  display: flex;
  border-bottom: 1px solid orange;
}
.today-info {
  min-height: 660px;
  width: 50%;
  border-right: 1px solid orange;
}
.today-info__search-cont {
  min-height: 60px;
  display: flex;
  border-bottom: 1px solid orange;
}
.today-info__search-cont__text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.today-info__search-cont__text div {
  font-size: 1.3rem;
}

.today-info__search-cont__search-form-cont {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-field {
  width: 200px;
  height: 26px;
  background-color: black;
  border: 1px solid orange;
  color: orange;
  margin: 4px 2px 2px 2px;
  outline: none;
}
.search-button {
  width: 63px;
  height: 26px;
  background-color: rgb(29, 10, 1);
  border: 1px solid orange;
  color: orange;
  margin: 2px 2px 4px 2px;
}
.today-info__content {
  display: flex;
  width: 100%;
  min-height: 600px;
}
.test {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.today-info__content__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.temp-converter-button {
  width: 120px;
  height: 40px;
  background-color: rgb(29, 10, 1);
  border: 1px solid orange;
  color: orange;
  margin-top: 1.5rem;
}

.data-cont {
  width: 90%;
  height: 60px;
  display: flex;
}
.main-info {
}
.city__text {
  font-size: 2rem;
  text-align: center;
}
.weather__text {
  font-size: 2rem;
}
.temp__text {
  font-size: 2rem;
}
.weather-descr__text {
  font-size: 1.5rem;
}

.data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  border: 1px solid orange;
}
.data div {
  margin-left: 1rem;
}

.week-info {
  min-height: 660px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.week-info__titles {
  height: 60px;
  display: flex;
  border-bottom: 1px solid orange;
}
.week-info__block {
  flex: 1;
  display: flex;
  border-bottom: 1px solid orange;
}
.last-week-info-block {
  border: none;
}
.week-data {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.week-data div {
  margin-left: 1rem;
}

.logs {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.see-logs-button {
  margin: 1rem;
  width: 120px;
  height: 34px;
  font-size: 1.1rem;
  background-color: black;
  border: 1px solid orange;
  color: orange;
}

.footer {
  border-top: 1px solid orange;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer div {
  margin-right: 2rem;
}

@media (max-width: 1000px) {
  .info-conts {
    flex-direction: column;
  }
  .today-info {
    width: 100%;
    border: none;
    border-bottom: 1px solid orange;
  }
  .week-info {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .today-info__content {
    flex-direction: column;
  }
  .test {
    width: 100%;
  }
  .today-info__search-cont {
    flex-direction: column;
  }
  .week-wind-speed-delete {
    display: none;
  }
}
@media (max-width: 340px) {
  .week-pressure-delete {
    display: none;
  }
}
